<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="fixed z-30 mt-20 right-0 bg-light_red p-5 text-dark_red border-l-4 border-dark_red rounded-lg">
    <ul class="list-disc list-inside">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
