<div class="bg-bg_img bg-cover h-screen w-full fixed bottom-0">
  <div class="fixed w-full top-0 z-10">
    <%= render "shared/navbar" %>
  </div>
  <div class="flex">
    <%# first half 1/2 %>
    <div class="hidden lg:flex flex-col lg:w-1/2 items-center justify-center text-white bg-black bg-opacity-80 h-screen">
      <h3 class="text-5xl font-semibold">CureLine</h3>
      <h6>Your Basic Health Mate</h6>
    </div>
    <%# Second half 1/2 %>
    <div class="flex w-full lg:w-1/2 justify-center items-center h-screen">
      <div>
        <%= form_tag search_diseases_path, method: :get, id: "disease-search-form" do %>
          <%= select_tag :selected_disease, options_from_collection_for_select(@diseases, :id, :name), prompt: "Select a disease", class: "w-full" %>
          <br>
          <%= submit_tag "Search Disease Remedies", class:"text-white bg-blue-600 p-2 my-2 rounded-sm" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%# js code %>
<script>
  document.addEventListener("DOMContentLoaded", function() {
  document.getElementById("disease-search-form").addEventListener("submit", function(event) {
    event.preventDefault();

    var selectedDisease = document.getElementById("selected_disease").value;

    if (selectedDisease === "") {
      alert("Please select a disease.");
    } else {
      if (selectedDisease === "Search") {
        var searchQuery = prompt("Enter your search query:");
        if (searchQuery) {
          window.location.href = "/diseases/search?search_query=" + encodeURIComponent(searchQuery);
        }
      } else {
        window.location.href = "/diseases/" + selectedDisease + "/view_remedies";

      }
    }
  });
  });
</script>
