<div class="md:h-screen">
  <% unless user_signed_in? %>
    <div class="fixed w-full top-0 z-10">
      <%= render "shared/navbar" %>
    </div>
  <% end %>

  <div class="bg-bg_img bg-cover h-screen mt-16 flex flex-col justify-center md:justify-end">

    <div class="flex flex-col bg-white bg-opacity-90 md:rounded-lg shadow-lg py-5 px-5 md:px-10 justify-center items-center mx-5 md:mx-20 md:mb-36 z-2 text-gray-900">
      <h1 class="font-bold text-2xl sm:text-4xl md:text-6xl lg:text-7xl pb-10">CureLine</h1>
      <p class="sm:px-10 lg:px-20 xl:px-48">
        "A platform to revolutionize the way we approach wellness. With advanced technologies and personalized solutions, we empower individuals to take control of their health, providing them with the tools and resources they need to achieve optimal well-being."
      </p>
    </div>
  </div>
</div>

<div class="flex justify-center items-center mt-16">
  <%= link_to "Get Started", new_user_registration_path, class: "bg-blue-700 hover:bg-blue-800 py-3 px-10 text-white rounded-md" %>
</div>

<div class="flex flex-col xl:flex-row m-10 p-10 text-white rounded-sm shadow-xl">

  <div class="rounded-md shadow-lg bg-gray-900 xl:w-1/2 md:m-2 p-5 md:p-10 w-full">
    <h3 class="sm:text-2xl font-semibold">
      Welcome to the Cureline
    </h3>
    <p>
      We provide a wide range of curated content, including tips on nutrition, exercise routines, mental well-being, and preventive measures. This platform acts as a virtual support system, empowering users to make informed decisions and prioritize their well-being in a convenient and accessible manner.
    </p>
  </div>

  <div class="flex flex-col">
    <div class="rounded-md shadow-lg bg-gray-900 bg-opacity-80 h-1/2 m-2 p-5 md:p-10 w-full">
      <h3 class="sm:text-2xl font-semibold">
        Everything You Need
      </h3>
      <p>
        Our comprehensive services allow you to receive all needed care right here in our state-of-art office – from dental cleanings and fillings to dental implants and extractions.
      </p>
    </div>

    <div class="rounded-md shadow-lg bg-gray-900 bg-opacity-80 h-1/2 m-2 p-5 md:p-10 w-full">
      <h3 class="sm:text-2xl font-semibold">
        Our Users's Focused Approach
      </h3>
      <p>
        Your treatment plan will perfectly match your needs, lifestyle, and goals. Even if it’s been years since you last visited the dentist, we can help. Our comfortable office, compassionate team, and minimally-invasive treatments will help you feel completely at ease.
      </p>
    </div>
  </div>
</div>

<div class="m-10 flex flex-col lg:flex-row">
  <div class="lg:w-2/3 lg:pr-5 my-10">
    <h3 class="sm:text-2xl md:text-3xl font-semibold lg:w-1/2 text-gray-900">
      Why choose CureLine?
    </h3>
    <br>
    <p>
      Cureline is an exceptional website that offers a natural approach to dietary solutions for various diseases. What sets Cureline apart is its comprehensive database, providing a wide range of natural diets tailored to specific ailments. With expert guidance and personalized recommendations, users can find the most suitable diet plan to address their specific health concerns. Cureline stays up-to-date with the latest research and medical findings, ensuring that users have access to the most current and effective dietary strategies. Moreover, the website boasts a user-friendly interface, making it easy for individuals to navigate and explore the wealth of information and resources available. By choosing Cureline, users can embark on a path towards better health and wellness through natural dietary interventions.
    </p>
  </div>
  <div class="lg:w-1/3 rounded-lg my-10">
    <%= image_tag("side-image.jpg") %>
  </div>
</div>

<!-- start footer -->
    <footer class="relative bg-gray-900 text-white px-4 sm:px-8 lg:px-16 xl:px-40 2xl:px-64 py-12 lg:py-24">
      <div class="flex flex-col md:flex-row">
        <div class="w-full lg:w-2/6 lg:mx-4 lg:pr-8">
          <h3 class="font-bold text-2xl">CureLine</h3>
          <p class="text-gray-400">A way to cure life by natural diet</p>
        </div>

        <div class="w-full lg:w-1/6 mt-8 lg:mt-0 lg:mx-4">
          <h5 class="uppercase tracking-wider font-semibold text-gray-500">Treatments</h5>
          <ul class="mt-4">
            <li class="mt-2"><a href="#" title="" class="opacity-75 hover:opacity-100">Fruits</a></li>
            <li class="mt-2"><a href="#" title="" class="opacity-75 hover:opacity-100">Vegetables</a></li>
            <li class="mt-2"><a href="#" title="" class="opacity-75 hover:opacity-100">Dairy</a></li>
            <li class="mt-2"><a href="#" title="" class="opacity-75 hover:opacity-100">Nuts</a></li>
            <li class="mt-2"><a href="#" title="" class="opacity-75 hover:opacity-100">Others</a></li>
          </ul>
        </div>

        <div class="w-full lg:w-2/6 mt-8 lg:mt-0 lg:mx-4 lg:pr-8">
          <h5 class="uppercase tracking-wider font-semibold text-gray-500">Contact Details</h5>
          <ul class="mt-4">
            <li>
              <a href="#" title="" class="block flex items-center opacity-75 hover:opacity-100">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    class="fill-current">
                    <path
                      d="M12,2C7.589,2,4,5.589,4,9.995C3.971,16.44,11.696,21.784,12,22c0,0,8.029-5.56,8-12C20,5.589,16.411,2,12,2z M12,14 c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S14.21,14,12,14z" />
                  </svg>
                </span>
                <span class="ml-3">
                  Lahore, Pakistan
                </span>
              </a>
            </li>

            <li class="mt-4">
              <a href="#" title="" class="block flex items-center opacity-75 hover:opacity-100">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    class="fill-current">
                    <path
                      d="M14.594,13.994l-1.66,1.66c-0.577-0.109-1.734-0.471-2.926-1.66c-1.193-1.193-1.553-2.354-1.661-2.926l1.661-1.66 l0.701-0.701L5.295,3.293L4.594,3.994l-1,1C3.42,5.168,3.316,5.398,3.303,5.643c-0.015,0.25-0.302,6.172,4.291,10.766 C11.6,20.414,16.618,20.707,18,20.707c0.202,0,0.326-0.006,0.358-0.008c0.245-0.014,0.476-0.117,0.649-0.291l1-1l0.697-0.697 l-5.414-5.414L14.594,13.994z" />
                  </svg>
                </span>
                <span class="ml-3">
                  +92 345 7626267
                </span>
              </a>
            </li>
            <li class="mt-4">
              <a href="#" title="" class="block flex items-center opacity-75 hover:opacity-100">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    class="fill-current">
                    <path
                      d="M20,4H4C2.896,4,2,4.896,2,6v12c0,1.104,0.896,2,2,2h16c1.104,0,2-0.896,2-2V6C22,4.896,21.104,4,20,4z M20,8.7l-8,5.334 L4,8.7V6.297l8,5.333l8-5.333V8.7z" />
                  </svg>
                </span>
                <span class="ml-3">
                  atifjavaid.dev@gmail.com
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- end footer -->

