<div class="bg-bg_img bg-no-repeat bg-cover">
  <div class="bg-white bg-cover bg-opacity-80">
    <%= render "shared/back" %>
    <div class="flex flex-col my-auto justify-center items-center h-screen">
      <div class="bg-bg_image w-1/2 sm:w-1/4 rounded-lg">
        <%= image_tag("oops.png") %>
      </div>
      <div class="p-10 lg:p-20 text-red-600">
        <h1 class="text-center lg:text-2xl xl:text-4xl font-bold md:px-5 lg:px-10"><%= message %></h1>
      </div>
    </div>
  </div>
</div>
