<% if notice %>
  <div class="fixed z-30 mt-20 right-0 bg-light_yellow p-5 text-dark_yellow border-l-4 border-dark_yellow rounded-lg">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="fixed z-30 mt-20 right-0 bg-light_red p-5 text-dark_red border-l-4 border-dark_red rounded-lg">
    <%= alert %>
  </div>
<% end %>
