<footer class="flex flex-col lg:flex-row lg:justify-around bottom-0 lg:space-x-5 w-full bg-primary p-10 text-white">
  <div class="flex flex-col">
    <h3 class="text-3xl font-semibold">
      CureLine
    </h3>
    <p class="mt-5">
      Lahore, Punjab, Pakistan
    </p>
    <p class="">
      +92 345 7626267
    </p>


  </div>
  <div class="flex flex-col">
  </div>

</footer>
